#friends-display-link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    padding: 15px 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
    margin: 0px 5px;
}

#friends-display-link i+i {
    margin-left: 10px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.firends-screen__channel-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.4);
}